/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap'); */
@import  url(https://fonts.gstatic.com/s/sacramento/v13/buEzpo6gcdjy0EiZMBUG4C0f_Q.woff2);

  .navbar {
    background-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .container {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  /*Formatting for "Hamburger" Menu button*/
  .menu-bars {
    font-size: 34px;
    color: #7d7b7b;
    display: inline-block;
    text-align: center; 
    padding: 16px;
    list-style: none;
    margin-left: 0;
  }

  .user-logo {
    width: 100%;
    color: #7d7b7b;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Sacramento', cursive;
    font-size: 34px;
    display: inline-block;
    text-align: center; 
    padding: 16px;
    list-style: none;
    margin-left: 0;
  }

  .Logo{
    width: 100%;
    color: #7d7b7b;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Sacramento', cursive;
    font-size: 34px;
    display: inline-block;
    text-align: center; 
    padding: 20px 0px;
    list-style: none;
    margin-left: 0;
  }

  /*Formatting for Background of full unsectioned NavBar*/
  .nav-menu {
    background-image: linear-gradient( 135deg, #5495e4 10%, #ecca86 50%);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed; 
    z-index: 5;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  /*Formatting for Background of NavBar Buttons Section*/
  .nav-text {
    display: flex;
    background-color:#b49595;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }

  /*Formatting for NavBar Text Color*/
  .nav-text a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  /*Formatting for Navbar Selections on hover*/
  .nav-text a:hover {
    background-color: #d2122f9a;
    color: #ffffff;
    font-size: 15pt;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  /*Formatting for background of closing side bar*/
  .navbar-toggle {
    background-color: #817475;
    width: 100%;
    height: 2.8%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }